body {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
:root {
    --primary-text-color: #434455;
}
header {
    width: 1440px;
    /*height: 72px; */
}
.list {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    list-style-type: none;
} 
.logo-part {
    color: #2E2F42;
}
.logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
}
.list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.list-link:hover,
:focus {
    color: #404bbf
}
.link {
    text-decoration: none;
}
.header-contact {
    font-style: normal;
}
.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact-link:hover,
.contact-link:focus {
    color: #404bbf
}
.main-box {
    background-color: #2E2F42;
    height: 600px;
    align-items:flex-start;
}
.main-box-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.main-box-btn {
    position: absolute;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    border: none;
}
.main-box-btn:hover,
.main-box-btn:focus {
    background-color: #404BBF;
}